.wrapper{
    margin: auto;
    width: 90vw;
    min-height: 100vw;
    background-color: antiquewhite;
}
.titulo{
    color: blue;

}
.card{
    width: 30%;
    display: inline-block;
}
.card-image{
    width: 100%;
}
